/""
body {
  background: #CDB4DB
  font-family: century gothic, arial;
  font-size: 16px
  colour: #A2D2FF;
}

#headshot img {
  width 200px
  height 200px

  #Snickers img {
    width: 200px
    height: 200px
  }

P {
  font-size: 1cm;
  line-heigh: 1.4cm;
  colour: #FFAFCC;
  font-family: Century gothic, arial;
}

#container {
  width: 90%;
  max-with: 800px;
  background: #A2D2FF;
  margin: top right bottom left;
  margin: 30px auto;
  padding: 30px;
}

section {
  border-top: 1px solid #50C0BE;
  padding: 20px 0 0;
}
""/
